---
import type { CommentsConfig } from "../../types/config";

export interface Props {
	class?: string;
	config: CommentsConfig;
}

const { class: className, config } = Astro.props;
---

<div class:list={["card-base","mt-6 z-10 px-6 md:px-9 pt-6 pb-4 relative w-full ", className]}>
    <script src="https://giscus.app/client.js"
        data-repo={config.repo}
        data-repo-id={config.repoId}
        data-category={config.category}
        data-category-id={config.categoryId}
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme={config.theme}
        data-lang={config.lang}
        data-loading="lazy"
        crossorigin="anonymous"
        async>
    </script>
</div>